@import url('https://fonts.googleapis.com/css?family=Orbitron:bold|Permanent+Marker|Russo+One|Special+Elite|Quantico:bold|Acme|Exo+2:400,700|Montserrat:400,500,600,700|Play|Roboto:400,700|Ubuntu:400,700');

/* *{border: 5px solid red} */

body {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 700;
    color: salmon;
    background-color: black;
    /* margin-left: 10px;
    margin-right: 10px; */
}

.navi {
    font-family: 'Orbitron', 'Helvetica', 'Arial', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

img.logo {
    width: 60px;
    height: 18px;
    padding: 15px 15px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

li a.tab {
    /* list-style-type: none; */
    display: block;
    color: salmon;
    text-align: center;
    padding: 15px 30px;
}

li a.tab:hover {
    color: salmon;
    background-color: black;
    border-color: black;
}

.navbar {
    float: left;
}

h1 {
    font-size: 1.75em;
    padding: 50px 10px;
}

h3 {
    text-decoration: underline;
    font-size: 1.75em;
    padding: 30px 10px;
}

h4 {
    padding: 30px 10px;
}

h5 {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    text-align: center;
    color: salmon;
    margin: 30px 10px;
}

.info {
    padding: 20px 10px;
}

img.banner {
    max-width:20%;
    max-height:20%;
    /* display: block; */
    margin: 0 auto;
}

table {
  margin: 25px 0 0;
  border: 2px solid white;
  border-collapse: collapse;
  font-size: 0.95em;
}

td {
  margin: 15px 0 0;
  border: 2px solid white;
  padding: 20px 5px;
}

th {
  border: 2px solid white;
  font-family: 'Orbitron', 'Helvetica', 'Arial', sans-serif;
  padding: 10px 5px;
  /* font-size: 0.85em; */
}

#address, #minCustomer, #maxCustomer, #avgCookie, #add, #reset {
  display: block;
}

/* #field {
  background-color: white;
} */

@keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  } 

#animate {
    /* width: 100px; */
    /* height: 100px;  */
    position: relative;
    /* background-color: red;  */
    animation-name: zoomIn;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#container{
    height: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}

.label {
  color: white;
}

@keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

.wrapper {
    color: salmon;
    text-align: center;
    /* width: 100px; */
    /* height: 100px; */
    /* position: relative; */
    background-color: black;
    animation-name: pulse;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }

#pageName {
  color: salmon;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* width: 100px; */
    /* height: 100px; */
    /* position: relative; */
    background-color: black;
    width: fit-content;
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}